*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}



body{
    font-family: "Inter", sans-serif;
    background-color: #e8f0f7;
    /* padding-top: 40px; */
}



.circle1{
  color: white;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 40px;
  background-color: rgb(163, 224, 224);
}
.circle1 a{
  color: white;
  margin-bottom: 40px;
}

.circle2{
  color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  margin-left:20px;
  margin-right: 10px;
  background-color: rgb(214, 26, 35);
}

.circle2 a{
  color: white;
  margin-bottom: 90px;
}

.search-pill{
  margin-left: -30px !important;
  margin-top: 8px;
  z-index: 500;
}

.bellIcon a{
  margin-left: 10px;
}
.userIcon a img{
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 3px;
}

.smalluserIcon a img{
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
}

.smalluserIcon1{
  width: 40px;
  border-radius: 50%;
  margin-top: 3px;
}


/* =========================RESPONSIVE DESIGN====================== */

/* CSS for Mobile and Tablet Devices */
@media (max-width: 576px) {
  .main-container{
    overflow-x: hidden;
  }
  .circle1,
  .circle2 {
    display: none;
  }
  .pilldiv{
    width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }

    .rounded-pill{
      width: 52% !important;
    
    }
  
    .top-icons{
      margin-left: 170px !important;
      width: 100% !important;
      margin-bottom: 20px;
    }
    .search-pill{
      margin-left: -30px !important;
      margin-top: 8px;
      z-index: 500;
    }
    .ms-n5 {
      margin-left: -42px !important;
      width: 50% !important;
      
    }
    .bellIcon a{
      margin-left: -2px !important;
    }
    .paperIcon{
      margin-right: -60px !important;
      cursor: default;
      text-decoration: none;
    }
    .paperIcon .span{
      margin-left: -5px !important;
      width: 100% !important;
    }
    .sider{
      display: none;
    }
    
    .hero{
      width: 350px !important;
      margin-left: 30px;
      margin-right: 30px;
      
    }
    .hero-color{
      width: 350px !important;
    }
    .hero-header-text{
      font-size: 20px;
      margin-top: -50px !important;
      margin-right: 40px !important;
    }

    .hero-btn1{
      margin-top: -40px !important;
    }
    .hero-btn2{
      width: 20% !important;
      margin-right: 20px;
      margin-top: -40px !important;
    }
    
    .hero-main-text{
      margin-top: 100px;
      margin-top: -120px;
      margin-left: 100px;
      display: none;
    }
    .hero-sub-text{
      margin-left: 80px;
      margin-bottom: -200px !important;
      
    }

    .navcard{
      display: none;
    }
    .navcardnav{
      width: 100% !important;
      margin-left: -3px !important;
      margin-top: -2350px !important;
    }
    .navfont{
      font-size: 11px;
    }

    .afternav2{
      margin-top: 100px !important;
    }

    .afternav2 video{
      width: 80%;
      margin-top: -30px;
      margin-left: 30px;
    }
    .aftervid{
      margin-left: 30px !important;
    }
    .slide2icon{
      width: 8% !important;
    }
    .slide2{
      margin-left: 30px !important;
      margin-top: 20px;
    }

    .popularsection{
      margin-left: 30px;
    }
    .popular1{
      margin-left: 90px !important;
    }

    .sectioncar1,
    .sectioncar2,
    .sectioncar3,
    .sectioncar4{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70% !important;
      margin-left: -10px;
      margin-bottom: 10px;
    }


    .sectioncar1 img,
    .sectioncar2 img,
    .sectioncar3 img,
    .sectioncar4 img{
      width: 20%;
      margin-left: -40px;
    }
    .sectioncar1 h6,
    .sectioncar2 h6,
    .sectioncar3 h6,
    .sectioncar4 h6{
      margin-left: 14px;
      
    }
    .sectioncar1 span,
    .sectioncar2 span,
    .sectioncar3 span,
    .sectioncar4 span{
      margin-top: 60px;
      margin-left: -300px;
    }


    .slide3{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 90px !important;
      margin-top: 50px;
    }

    .slide3 small{
      margin-top: -150px;
      margin-right: -150px;
    }
   
    .lastsectioncar1,
    .lastsectioncar2{
      width: 100% !important;
      margin-left: 10px;
    }
    .subsection1 h5,
    .subsection2 h5{
      margin-left: 10px !important;
      margin-top: 5px;
    }

    .subsection1 p,
    .subsection2 p{
      margin-left: 10px !important;
      margin-top: 5px;
    }

    .subsection1 .lastviews1,
    .subsection2 .lastviews2{
      margin-left: 70px !important;
      padding-right: 9px;
      margin-top: -10px;
    }



    
    
    
    
}




